# =========================
# Python virtual environment
# =========================
ev_charge/
venv/
.venv/
env/

# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Python environment files
# =========================
.env
.env.*

# =========================
# Logs
# =========================
*.log

# =========================
# Generated/model files
# =========================
models/
outputs/
results/

# =========================
# Temporary files
# =========================
*.tmp
*.temp